<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand text-white" href="/">Generative AI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarTogglerDemo02">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'text2img' %}">Text2Image</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'img2img' %}">Image2Image</a>
            </li>
        </ul>
    </div>
</nav>

<script>
document.querySelectorAll(".nav-link").forEach((link) => {
    if (link.href === window.location.href) {
        link.classList.add("active");
        link.setAttribute("aria-current", "page");
    }
});
</script>